<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                             http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

  <servlet>
    <servlet-name>AnimalServlet</servlet-name>
    <servlet-class>com.zoo.servlets.AnimalServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AnimalServlet</servlet-name>
    <url-pattern>/animals</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>com.zoo.servlets.MainServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AnimalActionServlet</servlet-name>
    <servlet-class>com.zoo.servlets.AnimalActionServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AnimalActionServlet</servlet-name>
    <url-pattern>/animalAction</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>TicketServlet</servlet-name>
    <servlet-class>com.zoo.servlets.TicketServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>TicketServlet</servlet-name>
    <url-pattern>/tickets</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>TicketActionServlet</servlet-name>
    <servlet-class>com.zoo.servlets.TicketActionServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>TicketActionServlet</servlet-name>
    <url-pattern>/ticketAction</url-pattern>
  </servlet-mapping>


</web-app>
